In [1]:
import pandas as pd

In [2]:
text_for_gpt = pd.read_csv('data_for_gpt.csv')
text_for_gpt.head(4)

,title,topic,text
0,Российские биатлонистки провели худшую гонку в...,Спорт,Российские биатлонистки остались без медалей в...
1,Москвичи перехотели покупать недвижимость в но...,Среда обитания,В Москве зафиксировали резкое снижение числа с...
2,Сломавшую ногу на горе в Сочи россиянку эвакуи...,Путешествия,"Россиянка, сломавшая ногу на горе в Сочи, была..."
3,Стали известны подробности обвинения в адрес ж...,Интернет и СМИ,Журналистку Александру Баязитову обвинили в вы...

In [3]:
text_for_gpt[0:3]

,title,topic,text
0,Российские биатлонистки провели худшую гонку в...,Спорт,Российские биатлонистки остались без медалей в...
1,Москвичи перехотели покупать недвижимость в но...,Среда обитания,В Москве зафиксировали резкое снижение числа с...
2,Сломавшую ногу на горе в Сочи россиянку эвакуи...,Путешествия,"Россиянка, сломавшая ногу на горе в Сочи, была..."

In [4]:
for i in range(10):
    text_for_gpt[i*5000:(i+1)*5000].to_csv(f'./data_portioned/data_{i}.csv')